@font-face {
  font-family: 'Amsterdam';
  src: url('Amsterdam.woff2') format('woff2'),
      url('Amsterdam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* IMPORTS */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 60px;
}

.show-xs {
  display: none;
}

.align-center {
  align-items: center !important;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* VARIABLES */
/* EXTENDS */
.fira, #cookie-law-info-bar, body {
  font-family: "Fira Sans", serif;
}

.bitter, .wpcf7 .wpcf7-submit.button, .wpcf7 .wpcf7-acceptance, .wpcf7 .wpcf7-form-control.form-control,
.wpcf7 .wpcf7-form-control.form-control:focus {
  font-family: "Bitter", serif;
}

/*
.pacifico {
  font-family: "Pacifico", cursive;
}
*/

.amsterdam, .pacifico {
  font-family: "Amsterdam";
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.black {
  color: #2B4937;
}

.clear {
  color: #F3EDE1;
}

.green {
  color: #94AC84;
}
.greena:not(.btn):hover,
.green a:not(.btn):hover {
  color: #8E8371;
}

.brown {
  color: #8E8371;
}

.white, .btn.btn-outline-secondary, .btn, .wpcf7 .wpcf7-submit.button:disabled, .wpcf7 .wpcf7-submit.button, #cookie-law-info-bar .cookie_action_close_header {
  color: white;
}

.img-opacity, #next-events .inner a:hover img, #activity-blocks .block a:hover img {
  opacity: 0.75;
}

/* GENERAL */
h1,
.h1 {
  font-size: 83px;
}

h2,
.h2 {
  font-size: 60px;
}

h3,
.h3,
.post-type-archive-quienes-somos .modal .modal-dialog .modal-header .close {
  font-size: 48px;
}

h4,
.h4 {
  font-size: 35px;
}

h5,
.h5 {
  font-size: 30px;
}

h6,
.h6,
.wpcf7 .wpcf7-form-control.form-control,
.wpcf7 .wpcf7-form-control.form-control:focus {
  font-size: 24px;
}

.big, .post-type-archive-quienes-somos .modal .modal-dialog .modal-body p, .post-type-archive-quienes-somos .modal .modal-dialog .modal-body #go-bottom, #next-events form .form-control, #covid-announce .inner ul, .btn, .wpcf7 .wpcf7-submit.button:disabled, .wpcf7 .wpcf7-submit.button, #cookie-law-info-bar .cookie_action_close_header {
  font-size: 21px;
}

p, #go-bottom,
.p,
.wpcf7 .wpcf7-acceptance,
ul li {
  font-size: 18px;
  line-height: 1.1;
}

small,
.small,
.site-footer p,
.site-footer #go-bottom,
.site-footer a {
  font-size: 16px;
}

a {
  color: inherit;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}
a:hover {
  color: #94AC84;
  text-decoration: none;
}

input:focus,
input:active {
  box-shadow: none !important;
}

button:focus {
  outline: 0 !important;
}

/*To-do: Expand Bootstrap 4 margin utilities */
.mt-6 {
  margin-top: 7rem;
}

.pb-6 {
  padding-bottom: 7rem;
}

/* PROYECT */
body {
  -webkit-font-smoothing: antialiased;
}

.btn, .wpcf7 .wpcf7-submit.button:disabled, .wpcf7 .wpcf7-submit.button, #cookie-law-info-bar .cookie_action_close_header {
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.375rem 3.5rem;
  border: 3px solid #94AC84;
  background: #94AC84;
  box-shadow: none !important;
}
.btn:focus, .wpcf7 .wpcf7-submit.button:focus, #cookie-law-info-bar .cookie_action_close_header:focus, .btn:active, .wpcf7 .wpcf7-submit.button:active, #cookie-law-info-bar .cookie_action_close_header:active, .btn:hover, .wpcf7 .wpcf7-submit.button:hover, #cookie-law-info-bar .cookie_action_close_header:hover {
  color: white;
  background: #8E8371;
  border-color: #8E8371;
}
.btn.btn-outline-primary, .wpcf7 .btn-outline-primary.wpcf7-submit.button, #cookie-law-info-bar .btn-outline-primary.cookie_action_close_header {
  color: #94AC84;
  background: transparent;
}
.btn.btn-outline-primary:focus, .wpcf7 .btn-outline-primary.wpcf7-submit.button:focus, #cookie-law-info-bar .btn-outline-primary.cookie_action_close_header:focus, .btn.btn-outline-primary:active, .wpcf7 .btn-outline-primary.wpcf7-submit.button:active, #cookie-law-info-bar .btn-outline-primary.cookie_action_close_header:active, .btn.btn-outline-primary:hover, .wpcf7 .btn-outline-primary.wpcf7-submit.button:hover, #cookie-law-info-bar .btn-outline-primary.cookie_action_close_header:hover {
  color: white;
  background: #94AC84;
  border-color: #94AC84;
}
.btn.btn-outline-secondary, .wpcf7 .btn-outline-secondary.wpcf7-submit.button, #cookie-law-info-bar .btn-outline-secondary.cookie_action_close_header {
  border-color: white;
  background: transparent;
}
.btn.btn-outline-secondary:focus, .wpcf7 .btn-outline-secondary.wpcf7-submit.button:focus, #cookie-law-info-bar .btn-outline-secondary.cookie_action_close_header:focus, .btn.btn-outline-secondary:active, .wpcf7 .btn-outline-secondary.wpcf7-submit.button:active, #cookie-law-info-bar .btn-outline-secondary.cookie_action_close_header:active, .btn.btn-outline-secondary:hover, .wpcf7 .btn-outline-secondary.wpcf7-submit.button:hover, #cookie-law-info-bar .btn-outline-secondary.cookie_action_close_header:hover {
  background: white;
  color: #94AC84;
}
.btn.no-radius, .wpcf7 .no-radius.wpcf7-submit.button, #cookie-law-info-bar .no-radius.cookie_action_close_header {
  border-radius: 0px;
}
.btn.w-100, .wpcf7 .w-100.wpcf7-submit.button, #cookie-law-info-bar .w-100.cookie_action_close_header {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.btn.btn-secondary, .wpcf7 .btn-secondary.wpcf7-submit.button, #cookie-law-info-bar .btn-secondary.cookie_action_close_header {
  border-color: #F3EDE1;
  background: #F3EDE1;
  color: #94AC84;
}
.btn.btn-secondary:hover, .wpcf7 .btn-secondary.wpcf7-submit.button:hover, #cookie-law-info-bar .btn-secondary.cookie_action_close_header:hover {
  border-color: #8E8371;
  background-color: #8E8371;
  color: white;
}

hr {
  border-top: 2px solid #94AC84;
}

#go-bottom {
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  color: white;
  font-weight: bold;
  font-family: "Bitter", serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
#go-bottom .line {
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  display: block;
  margin: 5px auto 0;
  background: white;
  width: 2px;
  height: 40px;
}
#go-bottom:hover {
  color: #94AC84;
}
#go-bottom:hover .line {
  background: #94AC84;
}

.no-responsive {
  max-width: none;
}

.container {
  max-width: 1170px;
}

.wrapper {
  padding-top: 260px;
}
.wrapper.no-padding-top {
  padding-top: 0px;
}

.space {
  margin-top: 100px;
  margin-bottom: 100px;
}

.green-block {
  background: #94AC84;
  padding: 65px;
}

.owl-nav {
  display: flex;
  flex-direction: row;
}
.owl-nav button {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}
.owl-nav button span {
  color: black;
  font-weight: bold;
  font-family: "Bitter", serif;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}
.owl-nav button:hover span {
  color: #94AC84;
}
.owl-nav button.owl-next {
  align-items: flex-end;
}

.owl-carousel-testimonio .owl-nav {
  display: none;
}

.brown-line:after {
  content: " ";
  width: 120px;
  height: 9px;
  display: block;
  margin-top: 25px;
  background: #8E8371;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-block;
  background: #94AC84;
}
.circle.black {
  background: #2B4937;
}
.circle.brown {
  background: #8E8371;
}

#cookie-law-info-bar {
  color: white !important;
  width: 40%;
  background: rgba(108, 140, 88, 0.95) !important;
}
/* HEADER */
#wrapper-navbar #main-nav {
  background: rgba(255, 255, 255, 0.95);
  padding: 10px 50px 10px;
  color: #94AC84;
}
#wrapper-navbar #main-nav > * {
  flex-grow: 1;
  flex-basis: 0;
}
#wrapper-navbar #main-nav .navbar-brand {
  text-align: center;
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 116px;
}
#wrapper-navbar #main-nav .navbar-brand .logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  -moz-transition: all 1s ease-in-out !important;
  -o-transition: all 1s ease-in-out !important;
  -webkit-transition: all 1s ease-in-out !important;
  transition: all 1s ease-in-out !important;
  max-width: 120px;
}
#wrapper-navbar #main-nav .navbar-brand .logo-text {
  opacity: 0;
  -moz-transition: all 0s ease-in-out !important;
  -o-transition: all 0s ease-in-out !important;
  -webkit-transition: all 0s ease-in-out !important;
  transition: all 0s ease-in-out !important;
}
#wrapper-navbar #main-nav #openNav {
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  background: transparent;
  border: none;
  outline: none;
  color: #94AC84;
  font-size: 40px;
  padding-left: 0px;
}
#wrapper-navbar #main-nav #openNav:hover {
  color: #8E8371;
}
#wrapper-navbar #closeNav img {
  width: 30px;
}
#wrapper-navbar.transparent #main-nav {
  color: white;
  padding-top: 40px;
  background: transparent;
}
#wrapper-navbar.transparent #main-nav .navbar-brand {
  text-align: center;
  margin: 0px;
}
#wrapper-navbar.transparent #main-nav .navbar-brand .logo {
  opacity: 0;
  -moz-transition: all 0s ease-in-out !important;
  -o-transition: all 0s ease-in-out !important;
  -webkit-transition: all 0s ease-in-out !important;
  transition: all 0s ease-in-out !important;
  max-width: inherit;
}
#wrapper-navbar.transparent #main-nav .navbar-brand .logo-text {
  opacity: 1;
  -moz-transition: all 1s ease-in-out !important;
  -o-transition: all 1s ease-in-out !important;
  -webkit-transition: all 1s ease-in-out !important;
  transition: all 1s ease-in-out !important;
}
#wrapper-navbar.transparent #main-nav #openNav {
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 40px;
}
#wrapper-navbar.transparent #main-nav #openNav:hover {
  color: #94AC84;
}
#wrapper-navbar.transparent .overlay .closebtn {
  top: 38px;
  left: 45px;
}
#wrapper-navbar .overlay {
  background: rgba(243, 237, 225, 0.95);
}
#wrapper-navbar .overlay a {
  color: #94AC84;
}
#wrapper-navbar .overlay a:hover {
  color: #8E8371;
}
#wrapper-navbar .overlay .closebtn {
  left: 50px;
}
#wrapper-navbar .overlay .overlay-content {
  min-width: 100vw;
}

#wrapper-navbar .overlay .navbar-nav .dropdown-menu {
  position: relative !important;
  transform: none !important;
  text-align: center;
  background: transparent;
  border: none;
  float: none;
}
#wrapper-navbar .overlay .navbar-nav .dropdown-menu a {
  background: transparent !important;
}
#wrapper-navbar .overlay .navbar-nav .dropdown-menu a:hover {
  background: transparent;
}

/* HOME */
.home #main {
  padding: 150px 0px 150px;
  background: url("/img/background-plant.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#square-blocks {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
}
#square-blocks .block {
  height: 100%;
}
#square-blocks .block a {
  font-weight: bold;
  background: #F3EDE1;
  width: 100%;
  height: 100%;
  display: block;
  padding: 60px 30px;
}
#square-blocks .block a h4 {
  font-size: 32px;
}
#square-blocks .block a:hover {
  background: rgba(243, 237, 225, 0.75);
}
#square-blocks .block a img {
  height: 65px;
  width: auto;
}

#activity-blocks h4, #contact-banner h4 {
  font-size: 30px;
}
#activity-blocks h5, #contact-banner h5 {
  font-size: 26px;
}
#activity-blocks .block {
  background: #F3EDE1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#activity-blocks .block h6 {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#activity-blocks .block img {
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  width: 100%;
}
#activity-blocks .block a.btn, #activity-blocks .block .wpcf7 a.wpcf7-submit.button, .wpcf7 #activity-blocks .block a.wpcf7-submit.button, #activity-blocks .block #cookie-law-info-bar a.cookie_action_close_header, #cookie-law-info-bar #activity-blocks .block a.cookie_action_close_header {
  margin-top: auto;
}

#contact-banner {
  margin-top: 150px;
}
#contact-banner .block {
  background: #F3EDE1;
}
#contact-banner .block .inner {
  padding: 70px 115px;
}

#covid-announce {
  background: url(/img/background-leaves-2.png);
  background-repeat: no-repeat;
  background-color: #94AC84;
  background-size: cover;
  margin-bottom: 150px;
  page-break-after: 40px 0px;
}
#covid-announce .inner {
  padding: 70px;
}
#covid-announce .inner ul li {
  margin-bottom: 5px;
}

#next-events {
  background: #F3EDE1;
  padding: 100px 0px 60px;
}
#next-events img {
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}
#next-events .inner a:hover h6 {
  color: #8E8371;
}
#next-events form {
  margin-top: 100px;
}
#next-events form .form-control {
  height: 49px;
  border-radius: 0px;
  color: #94AC84;
  background: transparent;
  border: none;
  border-bottom: 3px solid #94AC84;
}
#next-events form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #94AC84;
}
#next-events form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #94AC84;
}
#next-events form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #94AC84;
}
#next-events form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #94AC84;
}
#next-events .btn, #next-events .wpcf7 .wpcf7-submit.button, .wpcf7 #next-events .wpcf7-submit.button, #next-events #cookie-law-info-bar .cookie_action_close_header, #cookie-law-info-bar #next-events .cookie_action_close_header {
  letter-spacing: 2px;
}

#quote-block {
  background: url("/img/background-image.png");
  background-repeat: no-repeat;
  background-color: #94AC84;
  background-size: cover;
  padding: 95px 0px;
}
#quote-block h4 {
  line-height: 1.8;
}

/* HAPPY TIPI */
.page-template-page-anayansi #main {
  background: url("/img/background-plants.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 150px;
}
.page-template-page-anayansi #activity-blocks {
  margin-top: 100px;
}

/* COACHING */
#teachers {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #F3EDE1;
}

.plant-background-1 {
  padding-bottom: 130px;
  background: url("/img/background-only-one.jpg");
  background-position-x: 90%;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.plant-background-2 {
  background: url("/img/background-only-two.jpg");
  background-position-x: left;
  background-position-y: 30%;
  background-repeat: no-repeat;
}

.plant-background-3 {
  padding-bottom: 130px;
  background: url("/img/background-only-three.jpg");
  background-position-x: 0%;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.plant-background-4 {
  background: url("/img/background-only-four.png");
  background-position-x: left;
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: 20%;
}

.plant-background-5 {
  background: url("/img/background-only-five.png");
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.grecaptcha-badge {
  display: none;
}

#cita-coaching {
  background: url("/img/background-coaching.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* MINDFULL */
#anchors h6 {
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}
#anchors a:hover h6 {
  color: #8E8371;
}

.mindfull-banner {
  background: url("/img/mindfulness-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#aristoteles {
  background: url("/img/background-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* ALOJAMIENTO */
/* CONTACTO */
.contact h2 {
  text-align: left;
  font-size: 25px;
}
.wpcf7 {
  max-width: none;
  margin-top: 70px;
}
.wpcf7 .wpcf7-form-control.form-control,
.wpcf7 .wpcf7-form-control.form-control:focus {
  background: #E9DFCC;
  color: #94AC84;
  font-weight: bold;
  border-color: #E9DFCC;
  border-radius: 0px;
  box-shadow: none;
  outline: 0px;
}
.wpcf7 .wpcf7-form-control.form-control::-webkit-input-placeholder,
.wpcf7 .wpcf7-form-control.form-control:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #94AC84;
}
.wpcf7 .wpcf7-form-control.form-control::-moz-placeholder,
.wpcf7 .wpcf7-form-control.form-control:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #94AC84;
}
.wpcf7 .wpcf7-form-control.form-control:-ms-input-placeholder,
.wpcf7 .wpcf7-form-control.form-control:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: #94AC84;
}
.wpcf7 .wpcf7-form-control.form-control:-moz-placeholder,
.wpcf7 .wpcf7-form-control.form-control:focus:-moz-placeholder {
  /* Firefox 18- */
  color: #94AC84;
}
.wpcf7 .wpcf7-acceptance {
  font-weight: bold;
}
.wpcf7 .wpcf7-acceptance input {
  margin-right: 5px;
}
.wpcf7 .wpcf7-submit.button {
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0px;
}
.wpcf7 .wpcf7-submit.button:disabled:hover {
  background-color: #94AC84;
  color: white;
  border-color: #94AC84;
}

.alert {
  border: none;
  padding: 0px;
}

/* QUIENES SOMOS */
.post-type-archive-quienes-somos article h6 {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-type-archive-quienes-somos article img {
  max-width: 100%;
}
.post-type-archive-quienes-somos .modal .modal-dialog {
  min-width: 750px;
}
.post-type-archive-quienes-somos .modal .modal-dialog .modal-header {
  border: none;
  padding-bottom: 0px;
}
.post-type-archive-quienes-somos .modal .modal-dialog .modal-header .close {
  opacity: 1;
  color: #2B4937;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}
.post-type-archive-quienes-somos .modal .modal-dialog .modal-header .close:hover {
  color: #94AC84;
}
.post-type-archive-quienes-somos .modal .modal-dialog .modal-body {
  padding: 30px 60px 45px;
}
.post-type-archive-quienes-somos .modal .modal-dialog .modal-body p, .post-type-archive-quienes-somos .modal .modal-dialog .modal-body #go-bottom {
  margin-bottom: 30px;
}

/* FOOTER */
#wrapper-footer {
  margin-top: 60px;
  padding-bottom: 0px;
}
#wrapper-footer a:hover {
  color: #8E8371;
}

.site-info {
  margin-top: 60px;
}

.site-info .float-md-right img {
  max-width: 85%;
}

/* RESPONSIVE  */
@media (max-width: 1500px) {
  .plant-background-2,
.plant-background-3,
.plant-background-4,
.plant-background-5,
.plant-background-6 {
    background: none;
  }
}
@media (max-width: 1280px) {
  h1,
.h1 {
    font-size: 73px;
  }

  h2,
.h2 {
    font-size: 50px;
  }

  #wrapper-navbar.transparent #main-nav {
    padding-top: 20px;
  }
  #wrapper-navbar.transparent #main-nav .navbar-brand .logo {
    width: 150px;
  }

  .ms-layer .btn, .ms-layer #cookie-law-info-bar .cookie_action_close_header, #cookie-law-info-bar .ms-layer .cookie_action_close_header, .ms-layer .wpcf7 .wpcf7-submit.button, .wpcf7 .ms-layer .wpcf7-submit.button {
    margin-top: 20px !important;
  }

  .overlay-content {
    top: 15%;
  }

  .wrapper {
    padding-top: 200px;
  }
}
@media (max-width: 1199px) {
  h1,
.h1 {
    font-size: 65px;
  }

  h2,
.h2 {
    font-size: 48px;
  }

  h3,
.h3,
.post-type-archive-quienes-somos .modal .modal-dialog .modal-header .close {
    font-size: 38px;
  }

  h4,
.h4 {
    font-size: 28px;
  }

  h5,
.h5 {
    font-size: 24px;
  }

  h6,
.h6,
.wpcf7 .wpcf7-form-control.form-control,
.wpcf7 .wpcf7-form-control.form-control:focus {
    font-size: 19px;
  }

  .big, .btn, #cookie-law-info-bar .cookie_action_close_header, #covid-announce .inner ul, #next-events form .form-control, .wpcf7 .wpcf7-submit.button, .wpcf7 .wpcf7-submit.button:disabled, .post-type-archive-quienes-somos .modal .modal-dialog .modal-body p, .post-type-archive-quienes-somos .modal .modal-dialog .modal-body #go-bottom {
    font-size: 18px;
  }

  p, #go-bottom,
.p,
ul li,
.wpcf7 .wpcf7-acceptance {
    font-size: 16px;
    line-height: 1.1;
  }

  .mt-6 {
    margin-top: 5rem;
  }

  small,
.small,
.site-footer p,
.site-footer #go-bottom,
.site-footer a {
    font-size: 13px;
  }

  .no-responsive {
    max-width: 100%;
  }

  .space {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .pb-6 {
    padding-bottom: 5rem;
  }

  .btn, #cookie-law-info-bar .cookie_action_close_header, .wpcf7 .wpcf7-submit.button, .wpcf7 .wpcf7-submit.button:disabled {
    padding: 0.375rem 1.5rem;
  }

  .overlay a {
    font-size: 28px;
  }

  .owl-nav button {
    margin-right: 80px;
  }

  .plant-background-1 {
    background-size: 14%;
  }

  #teachers {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .green-block {
    padding: 25px;
  }
}
@media (min-width: 1198px) and (max-height: 800px) {
  #wrapper-navbar.transparent #main-nav {
    padding-top: 20px;
  }
  #wrapper-navbar.transparent #main-nav .navbar-brand .logo {
    width: 150px;
  }

  .slide_text h1 {
    font-size: 65px;
  }

  .overlay-content {
    top: 15%;
  }

  #wrapper-navbar .overlay a {
    font-size: 25px;
  }

  #wrapper-navbar .overlay .overlay-content {
    margin-top: 0px;
  }
  #wrapper-navbar .overlay .closebtn {
    top: 35px;
  }
}
@media (max-width: 991px) {
  .contact-info a {
    display: block;
  }

  .bar {
    display: none;
  }

  #square-blocks .block a {
    padding: 30px 15px;
  }
  #square-blocks .block a h4 {
    font-size: 24px;
  }

  #activity-blocks .block h6 {
    font-size: 24px;
    padding: 0px 15px;
  }

  #contact-banner {
    margin-top: 50px;
  }

  .home #main {
    padding: 80px 0px 80px;
  }

  .plant-background-5 {
    padding-bottom: 20px;
  }

  #teachers .owl-nav {
    justify-content: space-between;
  }
  #teachers .owl-next {
    margin-right: 0px;
  }

  body #cookie-law-info-bar {
    width: 100%;
    padding: 15px 10px 5px !important;
  }
  body .cookie_action_close_header {
    margin-left: 0px;
  }

  .home .slide_text {
    margin-top: 60px;
  }

  #wrapper-navbar #main-nav .navbar-brand .logo-text {
    width: 150px;
  }
}
@media (max-width: 767px) {
  h1,
.h1 {
    font-size: 55px;
  }

  h3,
.h3,
.post-type-archive-quienes-somos .modal .modal-dialog .modal-header .close {
    font-size: 32px;
  }

  #wrapper-navbar #main-nav {
    padding: 5px;
  }
  #wrapper-navbar #main-nav .navbar-brand {
    min-height: 70px;
  }
  #wrapper-navbar #main-nav .navbar-brand .logo {
    width: auto;
    height: 100%;
  }

  .contact-info a {
    display: inline-block;
    font-size: 25px;
  }
  .contact-info a:nth-of-type(1) {
    margin-right: 10px;
  }

  #square-blocks {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #square-blocks .block {
    height: 70vw;
    margin: 0px auto 30px;
    width: 70vw;
  }
  #square-blocks .block a {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home #main,
.plant-background-1,
.plant-background-2,
.plant-background-3,
.plant-background-4,
.plant-background-5 {
    background: none;
  }

  #contact-banner .block .inner {
    padding: 50px 0px;
  }

  #covid-announce {
    margin-bottom: 80px;
  }
  #covid-announce .inner {
    padding: 50px 0px;
  }
  #covid-announce .inner ul li {
    margin-bottom: 15px;
  }

  #next-events {
    padding: 60px 0px 60px;
  }
  #next-events .inner {
    margin-bottom: 60px;
  }

  #wrapper-footer {
    text-align: center;
  }
  #wrapper-footer li {
    margin-bottom: 10px;
  }

  .site-info {
    margin-top: 20px;
  }

  #wrapper-navbar .overlay a {
    font-size: 22px;
  }
  #wrapper-navbar .overlay .closebtn {
    left: 5px;
  }

  .wrapper {
    padding-top: 120px;
  }

  .post-type-archive-quienes-somos .modal .modal-dialog {
    min-width: 0px;
  }
  .post-type-archive-quienes-somos .modal .modal-dialog .modal-body {
    padding: 20px 30px 25px;
  }

  .space {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mt-6 {
    margin-top: 3rem;
  }

  .btn, #cookie-law-info-bar .cookie_action_close_header, .wpcf7 .wpcf7-submit.button, .wpcf7 .wpcf7-submit.button:disabled {
    font-size: 16px;
  }

  #activity-blocks > .col-md-4 {
    margin-bottom: 40px;
  }

  #teachers .teacher-title {
    font-size: 24px;
  }

  #anchors a {
    display: block;
    margin-bottom: 40px;
  }

  .plant-background-3 {
    padding-bottom: 20px;
  }

  #wrapper-navbar .overlay .overlay-content {
    margin-top: 0px;
  }

  .slide_text {
    margin-top: 40px;
  }

  .responsive-slider h1 {
    font-size: 22px;
  }
}

/* EVENTOS Y RETIROS */

.event-small {
  min-height: 605px;
}

.event h4 {
  font-size: 28px;
  font-weight: 400;
}

.event-small h4 {
  font-size: 26px;
  font-weight: 600;
}

.event h5, .eventos-y-retiros-post h2 {
  font-size: 20px;
  font-weight: 400;
}

.event-small h5 {
  font-size: 18px;
}

.event ul, .eventos-y-retiros-post ul {
  margin-top: 30px;
}

.event ul li, .eventos-y-retiros-post ul li {
  font-size: 18px;
  margin: 10px 0;
}

.event-small ul li {
  font-size: 16px;
}

.event ul i, .eventos-y-retiros-post ul i {
  margin-right: 5px;
}

.event .btn-secondary {
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 600;
}

.event-small .btn-secondary {
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid #94AC84;
}

.event .btn-primary {
  color: #F3EDE1;
}

.event-small .btn-primary {
  font-size: 16px;
}

.event .img-container {
  height: 360px;
}

.event-small .img-container {
  /*height: 270px;*/
  max-height: 350px;
}

.event-small .img-container img, .event .img-container img {
  height: 100%;
  object-fit: cover;
}

.green-bg {
  background: #94AC84;
  color: #F3EDE1;
}

.secondary-bg {
  background: #F3EDE1;
  color: #94AC84;
}

.event-small .flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.f-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.eventos-y-retiros-post h1 {
  font-size: 35px;
  font-weight: 600;
}

.eventos-y-retiros-post h3 {
  font-size: 50px;
  font-weight: bold;
}

.eventos-y-retiros-post h4 {
  font-size: 22px;
  font-weight: 600;
}

.eventos-y-retiros-post .contact-block {
  background: #94AC84;
  color: #F3EDE1;
  width: 325px;
}

.eventos-y-retiros-post .contact-block p {
  margin-bottom: 10px;
}

.eventos-y-retiros-post .cita {
  font-size: 20px;
}

nav.navigation.post-navigation {
  display: none;
}

.selector {
  margin-right: 2rem;
}

.selector p {
  font-weight: 600;
}

.selector select {
  border: 1px solid #F3EDE1 !important;
  background: #F3EDE1;
  padding: 5px 15px;
  font-weight: 500;
}

.selector select:focus,
.selector select:focus-visible,
.selector select:active {
  outline: none;
  box-shadow: none;
}

/* Pagination */

.pagination li {
  font-weight: 600;
  font-size: 20px
}

.page-item.active .page-link {
  background: #94AC84;
  border: 2px solid #94AC84;
}

.page-item .page-link {
  background: #F3EDE1;
  border: 2px solid #94AC84;
  color: #94AC84;
}

/* Overflow */

.oxi-image-hover-wrapper-1 .oxi-addons-row .oxi_addons__light_box .oxi_addons__light_box_parent {
  padding: 0px !important;
}

@media (min-width: 993px) {
  .overflow-img {
    max-height: 190px;
    overflow: hidden;
  }
}

@media (min-width: 560px) and (max-width: 992px) {
  .overflow-img {
    max-height: 100px;
    overflow: hidden;
  }
}

@media (max-width: 560px) {
  .ms-parent-id-1 h1 {
    font-size: 42px;
  }
  .event-small .img-container {
    height: 270px;
  }
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block;
  }
}

/*# sourceMappingURL=anayansi.css.map */
